<!DOCTYPE html>
<html>
<head>
  <title>Smart Car Control</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
</head>
<body>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>
  $(function() {
    $('#moveforward').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_movemotor', {
        time: $('#TimeChoice option:selected').val(),
        speed: $('#SpeedChoice option:selected').val(),
	direction: "forward"
      }, function(data) {});
      return false;
    });
    $('#movebackward').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_movemotor', {
        time: $('#TimeChoice option:selected').val(),
        speed: $('#SpeedChoice option:selected').val(),
	direction: "backward"
      }, function(data) {});
      return false;
    });
    $('#turnleft').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_movemotor', {
        time: $('#TimeChoice option:selected').val(),
        speed: $('#SpeedChoice option:selected').val(),
	direction: "left"
      }, function(data) {});
      return false;
    });
    $('#turnright').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_movemotor', {
        time: $('#TimeChoice option:selected').val(),
        speed: $('#SpeedChoice option:selected').val(),
	direction: "right"
      }, function(data) {});
      return false;
    });
  });
</script>
<div class="row">
  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="SpeedChoice">Speed</label>
  </div>
  <select class="custom-select" id="SpeedChoice">
    <option value="2500" selected>Fast</option>
    <option value="1500">Medium</option>
    <option value="1000">Slow</option>
  </select>
  </div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="TimeChoice">Time</label>
  </div>
  <select class="custom-select" id="TimeChoice">
    <option value="1" selected>Short</option>
    <option value="2">Medium</option>
    <option value="3">Long</option>
  </select>
  </div>

</div>
<div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-primary" id="moveforward">Forward</button>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary" id="movebackward">Backward</button>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary" id="turnleft">Left</button>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary" id="turnright">Right</button>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
